body {
    background-color: #202020;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h2
{
    font-size: 32px;
}

.product_table_holder {
    margin: 20px auto;
    max-width: 1000px;
    background-color: #2c2c2c;
    border-radius: 4px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 400px;
}

th {
    background-color: #3a3a3a;
    color: white;
    padding: 10px;
}

td {
    background-color: #2c2c2c;
    color: white;
    padding: 10px;
    border-bottom: 1px solid #444;
}

tr:hover td {
    background-color: #444;
}

.separator {
    width: 100vw;
    height: 1px;
    background-color: #3b3b3b;
}

.inputs_div {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}

.search_button {
    margin-right: 16px;
}

.inputs_div div button {
    border: none;
    padding: 8px;
    width: 185px;
    border-radius: 8px;
}

.selected_table_row td
{
    background-color: #444;
}

.inputs_container div
{
    display: flex;
    justify-content: space-between;
    gap: 16px;

    margin-bottom: 8px;
}

.inputs_container div:first-child
{
    align-self: flex-start;
}

.inputs_container div:last-child
{
    align-self: flex-end;
}

input
{
    border: none;
    border-radius: 4px;
}

#total_val
{
    background-color: #ffffff;
    width: 198px;
    height: 26px;
    border-radius: 4px;
    color: black;
    padding: 2px;
}

.selected_table_row td
{
    background-color: #444;
}