.info_form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}


.interests
{
    min-height: 10vh;
    height: auto;
    overflow-y: scroll;
}

.info_form *
{
    margin-top: 8px;
}

.buttons_container
{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: flex-start;
}

.buttons_container button
{
    padding: 8px 16px;
    color: white;
    border: none;
    box-shadow: none;
    border-radius: 4px;
    font-size: 16px;
}

.container
{
    width: fit-content;
    display: flex;
    flex-direction: column;
}

h1
{
    width: fit-content;
    align-self: center;
    margin-top: 16px;
}

.submit_button
{
    background-color: #25a846;
}
.clear_button
{
    background-color: #007bff;
}

.submit_button:hover
{
    background-color: #2bc451;
}

.clear_button:hover
{
    background-color: #3897fd;
}

.submit_button:active
{
    background-color: #19742f;
}
.clear_button:active
{
    background-color: #0262c9;
}

input, textarea, select
{
    border-radius: 4px;
}